@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;900&display=swap');

// Global styles
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color)
}

h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#app {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-color);
  font-size: 1.1em;
}

.divider {
  height: 1px;
  background-color: var(--secondary-color);
  width: 100%;
}


.link {
  text-decoration: underline;
  color: var(--link-color);
  text-underline-offset: 3px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    margin-bottom: 6px;
  }
}

.content__icon {
  transition: 1s ease all;
  position: absolute;
  top: -50px;
  right: 80px;
  font-size: 60px;
  font-weight: bolder;
}
