.wrapper {
  width: 100%;
  text-align: center;
}
h2 {
  font-family: sans-serif;
  color: #fff;
}
.carousel {
  width: 100vw;
  position: absolute;
  top: 0px;
}

.slick-slide img {
  object-fit: cover;
  width: 100vw;
  height: 99.6vh;
  border: 2px solid #fff;
}

.titlePage.exp {
  color: wheat;
}

.exp {
  color: white;
  text-shadow: 5px 5px 1px black;
  pointer-events: none;
  z-index: 5;
  position: absolute;
  width: 100%;
  transition: 0.3s ease all;
}
