#timeline-wrap {
  margin: 20% 20%;
  top: 100;
  position: relative;
}

@media screen and (max-width: 600px) {
  #timeline-wrap {
    margin: 0% 0%;
  }
}

#timeline {
  height: 1px;
  width: 100%;
  background-color: black;
  position: relative;
}

.marker {
  z-index: 1000;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 0.6em;
  text-align: center;
  position: absolute;
  margin-left: -25px;
  background-color: #999999;
  border-radius: 50%;
  transition: all 300ms ease;
}

/* Date */
.date {
  color: #536295;
  width: 50px;
}

@media screen and (min-width: 600px) {
  .date {
    left: -8px;
  }
}

.marker > .date {
  position: fixed;
  bottom: 0px;
  opacity: 0;
  transition: all 300ms ease;
}

.marker:hover > .date {
  position: fixed;
  bottom: 50px;
  opacity: 1;
  transition: all 300ms ease;
}

.marker:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.titlePage {
  top: 8vh;
  position: absolute;
  width: 100vw;
  opacity: 1;
  transition: all 800ms ease;
  color: #536295;
}

.subtitlePage {
  bottom: 8vh;
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: all 800ms ease;
  color: #536295;
  text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
}

.marker:hover ~ .titlePage {
  opacity: 0;
  transition: all 300ms ease;
}

.marker:hover ~ .subtitlePage {
  opacity: 0;
  transition: all 300ms ease;
}

/* Icons */

.timeline-icon.one {
  background-color: #3e4f88 !important;
}

.timeline-icon.two {
  background-color: #536295 !important;
}

.timeline-icon.three {
  background-color: #6976a2 !important;
}

/* Circles */

.m1 {
  top: -25px;
}

.m2 {
  top: -25px;
  left: 50%;
  animation-delay: 0.5s;
}

.m3 {
  top: -25px;
  left: 100%;
  animation-delay: 1s;
}

/* Content */
.text {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
}

.text.bottom {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  bottom: 5%;
  color: #536295;
  text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
}

.text.top {
  top: 5%;
  color: #536295;
}

.m1:hover ~ text.one {
  display: block;
  opacity: 1;
  transition: all 300ms ease;
}
.m2:hover ~ .text.two {
  display: block;
  opacity: 1;
  transition: all 300ms ease;
}
.m3:hover ~ .text.three {
  display: block;
  opacity: 1;
  transition: all 300ms ease;
}
