#timeline-wrap {
  margin: 20% 20%;
  top: 100;
  position: relative;
}

#timeline {
  height: 1px;
  width: 100%;
  background-color: black;
  position: relative;
}

.marker {
  z-index: 1000;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 0.6em;
  text-align: center;
  position: absolute;
  margin-left: -25px;
  background-color: #999999;
  border-radius: 50%;
  transition: all 300ms ease;
}

/* Date */
.date {
  color: black;
}

.marker > .date {
  position: fixed;
  bottom: 0px;
  opacity: 0;
  transition: all 300ms ease;
}

.marker:hover > .date {
  position: fixed;
  bottom: 50px;
  opacity: 1;
  transition: all 300ms ease;
}

.marker:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.titlePage {
  bottom: 50px;
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: all 800ms ease;
}

.subtitlePage {
  top: 50px;
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: all 800ms ease;
}

.marker:hover ~ .titlePage {
  opacity: 0;
  transition: all 300ms ease;
}

.marker:hover ~ .subtitlePage {
  opacity: 0;
  transition: all 300ms ease;
}

/* Icons */

.timeline-icon.one {
  background-color: #3e4f88 !important;
}

.timeline-icon.two {
  background-color: #536295 !important;
}

.timeline-icon.three {
  background-color: #6976a2 !important;
}

/* Circles */

.m1 {
  top: -25px;
}

.m2 {
  top: -25px;
  left: 50%;
}

.m3 {
  top: -25px;
  left: 100%;
}

/* Content */
.text {
  position: fixed;
  opacity: 0;

  left: 0;
  width: 100%;
  transition: all 300ms ease;
}

.text.bottom {
  bottom: 0px;
}

.text.top {
  top: 00px;
}

.m1:hover ~ .text.one {
  display: block;
  opacity: 1;
}
.m2:hover ~ .text.two {
  display: block;
  opacity: 1;
  transition: all 300ms ease;
}
.m3:hover ~ .text.three {
  display: block;
  opacity: 1;
  transition: all 300ms ease;
}
