.section {
  text-align: center;
  font-size: 3em;
}

@media screen and (max-width: 600px) {
  .section {
    text-align: center;
    font-size: 4vh;
  }
}

.content {
  margin: 50px;
}
body,
html {
  overflow: hidden !important;
}

body {
  font-family: "Hammersmith One", sans-serif;
}
