@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.avatar {
  background-color: white;
  display: inline-block;
  width: 25vh;
  height: 25vh;
  object-fit: fill;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  margin-right: 3vw;
}

.avatar.small {
  width: 18vh;
  height: 18vh;
}

.avatar img {
  width: 22vh;
  height: 22vh;
}

.avatar.small img {
  width: 15vh;
  height: 15vh;
}

.avatar h4 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  top: -50%;
  background-color: white;
  padding-top: 35%;
  transition: 1s ease all;
}

.avatar.small > h4 {
  font-size: 0.7em;
}

.avatar:hover > h4 {
  opacity: 0.8;
  top: 0;
  transition: 1s ease all;
}

@media screen and (max-width: 600px) {
  .avatar {
    margin: 0;
    width: 150px;
    height: 150px;
  }

  .avatar img {
    width: 120px;
    height: 120px;
  }

  .avatar.small {
    width: 60px;
    height: 60px;
  }

  .avatar.small img {
    width: 60px;
    height: 60px;
  }

  .avatar.small > h4 {
    font-size: 0.4em;
  }
  .main-techs {
    padding-top: 10vh;
  }
}

.titlePage.technos {
  color: white;
}

.section.tech {
  padding-top: 5%;
}
