@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.avatar {
  background-color: white;
  display: inline-block;
  width: 250px;
  height: 250px;
  object-fit: fill;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  margin-right: 3vw;
}

.avatar img {
  width: 220px;
  height: 220px;
}

@media screen and (max-width: 600px) {
  .avatar {
    margin: 0;
    width: 150px;
    height: 150px;
  }

  .avatar img {
    width: 120px;
    height: 120px;
  }
}

.titlePage.technos {
  color: white;
}
